:root {
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #ffcc00;
    --secundario: #00c7be;
    --gris: #757575;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: "Alumni Sans", sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(to top, #DFE9F3 0%, var(--blanco) 100%);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.4rem;
}

h1,
h2,
h3 {
    text-align: center;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    padding: 1rem 2rem;
    background-color: var(--secundario);
    color: var(--blanco);
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .5rem;
    width: 90%;
    border: none;
}

.boton:hover {
    background-color: var(--primario);
    color: var(--negro);
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-around;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--negro);
}

.hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    position: relative;
}

.contenido-hero {
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.hero__titulo {
    font-size: 4rem;
}

.ubicacion {
    display: flex;
    align-items: flex-end;
}

.sombra {
    -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
}

/* Servicios */
.servicios, 
.navegacion-principal,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

@media (min-width: 768px) {
    .servicios {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
}

.servicio p {
    line-height: 1.5;
    text-align: center;
}

.iconos {
    height: 12rem;
    width: 12rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

/* Contacto */
.formulario {
    background-color: var(--secundario);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    color: var(--blanco);
}

.formulario fieldset {
    border: none
}

.formulario legend {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: var(--blanco);
    text-align: center;
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 2rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    display: block;
    font-size: 1.6rem;
    margin-bottom: .5rem;
    color: var(--negro);
}

.input-form {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    font-size: 1.6rem;
}

.enviar .boton {
    width: 100%;
    background-color: var(--primario);
    color: var(--negro);
}

.enviar .boton:hover {
    background-color: var(--negro);
    color: var(--blanco);
}

@media (min-width: 768px) {
    .enviar .boton {
        width: auto;
    }
}

@media (min-width: 768px) {
    .alinear {
        display: flex;
        justify-content: flex-end;
    }
}

.campo textarea {
    height: 18rem;
}
.footer{
    text-align: center;
}